body {
    background: url("https://res.cloudinary.com/teepublic/image/private/s--xyST5os1--/t_Preview/b_rgb:ffb81c,c_limit,f_jpg,h_630,q_90,w_630/v1556355628/production/designs/4726743_0.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}